<html>
	<head>
		<title>Stats</title>
	</head>

<body>
	<h2>Squirrel Stats</h2>
	<ul>
		<li>Total number of adults is {{ a_count }}</li>
               	<li>Total number of junveniles is {{ j_count }}</li>
		<li>Total number of shifts in the morning is {{ am }}</li>
		<li>Total number of shifts in the afternoon is {{ pm }} </li>
                <li>The average longitude of squirrels is:{{avg_longitude}} </li>
		<li>The average latitude of squirrels is:{{avg_latitude}} </li>
	</ul>
</body>
</html>
